.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .d-inline-block {
    animation: logo-animate 2s ease 2s infinite alternate-reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

/*--------------------------------===HEADER===--------------------------------*/
.d-inline-block {
  animation: logo-animate 2s ease 2s infinite alternate-reverse;
}
@keyframes logo-animate {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/*--------------------------------===HOME===--------------------------------*/
.main {
  padding-top: 60px;
  padding-bottom: 90px;
  width: 1200px;
  margin: auto;
  background: rgb(210, 210, 210);
}
.block_top {
  display: flex;
  justify-content: center;
}
.block_middle {
  display: flex;
  justify-content: center;
}
.block_bottom {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 30px;
  text-align: center;
}
/*--------------------------------===VisitCard===--------------------------------*/
.business_card {
  width: 600px;
  margin: 50px auto;
  display: flex;
}
.card_info {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photo_profile img {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px 100px / 20px;
}
/*--------------------------------===Skills===--------------------------------*/
.percent_skills {
  width: 600px;
  margin: 50px auto;
}
.card_view {
  padding: 10px;
}
/*--------------------------------===Education===--------------------------------*/
.education {
  width: 600px;
  margin: auto;
}
.education .title {
  padding-bottom: 20px;
}
/*--------------------------------===Sertificate===--------------------------------*/
.sertificate {
  width: 600px;
  margin: auto;
  padding: 5px;
  border: 1px solid #282c34;
}
/*--------------------------------===AboutMe===--------------------------------*/
.red_stroke {
  text-indent: 25px;
  text-align: justify;
  font-size: 20px;
}
.resume_about {
  width: 600px;
  margin: auto;
  padding: 10px;
}
/*--------------------------------===Courses===--------------------------------*/
.courses {
  width: 600px;
  margin: auto;
}
/*--------------------------------===Portfolio===--------------------------------*/
.portfolio {
  margin: 20px;
  padding-top: 80px;
}
/*--------------------------------===Adaptive===--------------------------------*/
@media (max-width: 1200px) {
  .block_top {
    flex-direction: column;
  }
  .block_middle {
    flex-direction: column;
  }
  .block_bottom {
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
  }
  .card_info {
    text-align: left;
  }
}
@media (max-width: 820px) {
  .main {
    width: 400px;
    align-items: center;
  }
  .business_card {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .main {
    width: 400px;
    margin: auto;
    align-items: center;
  }
  .business_card {
    flex-direction: column;
    width: 380px;
  }
  .percent_skills {
    width: 380px;
  }
  .resume_about {
    width: 380px;
  }
  .courses {
    width: 380px;
  }
  .education {
    width: 380px;
  }
  .sertificate {
    width: 380px;
  }
}
@media (max-width: 420px) {
  .main {
    width: 300px;
    margin: auto;
    align-items: center;
  }
  .business_card {
    flex-direction: column;
    width: 280px;
  }
  .percent_skills {
    width: 280px;
  }
  .resume_about {
    width: 280px;
  }
  .courses {
    width: 280px;
  }
  .education {
    width: 280px;
  }
  .sertificate {
    width: 280px;
  }
}
